.box {
    display:grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.pie-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .box {
        grid-template-columns: 1fr;
    }
}
